<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
</head>
<body>
     <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <div id="app">
        <h1>Welcome to my Weather App!</h1>
        <p>Enter a city name to get current weather:</p><br>
        <input v-model="city" placeholder="e.g.Dublin"/>
        <button @click="getWeather">Get Weather</button>
        <div v-if="weather">
            <h2>Weather in {{weather.city}}</h2>
            <p>Temperature: {{weather.temperature}} °C</p>
            <p>Humidity: {{weather.humidity}}%</p>
            <p>Condition: {{weather.condition}}</p>
        </div>
        <div v-if="history.length > 0">
            <hr>
            <h3>Recent Searches:</h3>
            <ul>
                <li v-for="(item,index) in history" :key="index">
                    {{item.city}} = {{item.temperature}}°C {{item.condition}}
                </li>
            </ul>
        </div>
    </div>
    <script>
        new Vue({
            el:'#app',
            data:{
                city: '',
                weather: null,
                history:[]
            },
            methods: {
                async getWeather(){
                    if (!this.city) return alert('Please enter a VALID city name!');
                    try {
                        const response = await fetch (`http://localhost:3000/weather/${this.city}`);
                        const data = await response.json();
                        this.weather=data;
                        this.history.unshift(data);
                    } catch (err){
                        console.error("Error fetching weather:", err);
                        alert("Failed to fetch weather data.");
                    }
                },
            },
        });  
    </script>
</body>
</html>