<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
</head>
<body>
     <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <div id="app"> 
        <h1>Welcome to my Weather App!</h1>
        <p>Enter a city name to get your forecast:</p><br>
        <input v-model="city" placeholder="e.g.Dublin"/>
        <button @click="getForecast">Get Forecast</button>
        <div v-if="ForecastData">
            <h2>Forecast for: {{ForecastData.city}}</h2>
            <p><b>Packing</b> : <em>{{ForecastData.packingAdvice}}</em></p>
            <table border="1" cellspacing="0" cellpadding="5">
        <tr>
          <th>Day</th>
          <th>Temperature (°C)</th>
          <th>Wind Speed (m/s)</th>
          <th>Rainfall (mm)</th>
        </tr>
        <tr v-for="day in ForecastData.forecast" :key="day.day">
          <td>{{ day.day }}</td>
          <td>{{ day.temperature }}</td>
          <td>{{ day.wind }}</td>
          <td>{{ day.rain }}</td>
        </tr>
      </table>
        </div>
        <div v-if="history.length > 0">
            <hr>
            <h3>Recent Searches:</h3>
            <ul>
                <li v-for="(item,index) in history" :key="index">
                    {{item.city}} -> {{item.packingAdvice}}
                </li>
            </ul>
        </div>
    </div>
    <script>
        new Vue({
            el:'#app',
            data:{
                city: '',
                weather: null,
                history:[]
            },
            methods: {
                async getForecast(){
                    if (!this.city) return alert('Please enter a VALID city name!');
                    try {
                        const response = await fetch (`http://localhost:3000/forecast/${this.city}`);
                        const data = await response.json();
                        this.ForecastData=data;
                        this.history.unshift(data);
                    } catch (err){
                        console.error("Error fetching weather:", err);
                        alert("Failed to fetch weather data.");
                    }
                },
            },
        });  
    </script>
</body>
</html>